$gold: #b59f5b;



.main-contant{
	margin-top: 50px;
}
/*--------- blogs ---------*/
.blog-img{
	width: 123%;
	height: 295px;
	margin-top: 25px;
	margin-bottom: 40px;
	transition: all .5s;
	&:hover{
		transform: scale(1.05);
	}
}
.blog{
	margin: 30px 0 50px;
	.description{
		transform: translateZ(5px);
	}
	.top{
		border: 2px solid $gold;
		padding: 25px 20px 5px 22%;
	}
	.tag{
		color: #b59f5b;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
		span{
			margin-right: 15px;
		}
	}
	.title{
		color: #0f0d0e;
		font-family: "Josefin Sans";
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		text-decoration: none;
		&:hover{
			color: $gold;
		}
	}
	.date{
		color: rgba(0,0,0,0.54);
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 300;
		line-height: 40px;
	}
	.exerpt{
		margin: 30px 5px 0 22%;
	}
	.btn-more{
		margin: 30px 5px 0 22%;
		min-width: 130px;
		text-align: center;
		margin-right: 40px;
		position: relative;
		display: inline-block;
		color: $gold;
		border-left: 3px solid $gold;
		cursor: pointer;
		overflow: hidden;
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
		&:before, &:after {
			content: '';
			position: absolute;
		}
		&:after {
			right: 0;
			bottom: 0;
			height: 3px;
			width: 100%;
			background: $gold;
			transform: translatex(-100%);
			transition: transform 0.3s ease-in-out;
			transition-delay: 0.9s;
		}
		> span {
			position: relative;
			display: block;
			padding: 8px;
			color: inherit;
			&:before, &:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				background: $gold;
				transition: transform 0.3s ease-in-out;
			}
			&:before {
				height: 3px;
				width: 100%;
				transform: translateX(100%);
				transition-delay: 0.3s;
			}
			&:after {
				height: 100%;
				width: 3px;
				transform: translateY(100%);
				transition-delay: 0.6s;
			}
		}

		&:hover:after, &:hover > span:before, &:hover > span:after {
			transform: translate(0, 0);
		}
		&:hover:after {
			transition-delay: 0s;
		}
		&:hover > span:after {
			transition-delay: 0.3s;
		}
		&:hover > span:before {
			transition-delay: 0.6s;
		}
		&:hover {
			color: #fff !important;
			background-color: $gold;
			transition-delay: 0.9s;
		}
		span{
			font-family: "Source Sans Pro";
			font-size: 16px;
			font-weight: 400;
		}
	}
	.bottom{
		border-bottom: 5px solid #eeeeee;
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 3px 5px;
	}
	.comment{
		color: #0f0d0e;
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 400;
	}
	.rating{
		color: $gold;
	}
}



/*--------- aside ---------*/
.autor{
	border: 2px solid $gold;
	text-align: center;
	margin-top: 100px;
	.photo{
		width: 150px;
		border-radius: 100px;
		margin-top: -74px;
	}
	.name{
		color: #0f0d0e;
		font-family: "Josefin Sans";
		font-size: 14px;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
	}
	.biography{
		font-family: "Open Sans";
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		line-height: 24px;
	}
	.follow-me{
		color: $gold;
		font-family: "Mrs Sheppards";
		font-size: 24px;
		font-weight: 400;
		margin-top: 35px;
	}
	.follow-me-icon{
		display: flex;
		justify-content: space-around;
		margin: 15px 20% 30px;
		a:hover{
			color: $gold;
		}
	}
}
.title-bl{
	font-family: "Josefin Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 29.15px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	margin-bottom: 15px;
	&:after{
		position: absolute;
		width: 50px;
		height: 2px;
		bottom: 3px;
		content: '';
		left: 0;
		right: 0;
		margin: auto;
		background: #b59f5b;
	}
}
.subscribe{
	margin: 35px 0;
	form{
		input{
			width: calc(100% - 20px);
			background-color: #f4f7f6;
			padding: 10px;
			margin-bottom: 15px;
			border: none;
		}
		button{
			width: 100%;
			padding: 12px;
			text-transform: uppercase;
			color: #fff;
			background-color: $gold;
			border: none;
			transition: all .3s;
			cursor: pointer;
			&:hover{
				box-shadow: 0 0 4.8px 0.3px $gold;
			}
		}
	}
}
.search-block{
	margin: 35px 0;
	form{
		input{
			width: calc(100% - 68px);
			background-color: #f4f7f6;
			padding: 10px;
			margin-bottom: 15px;
			border: none;
		}
		button{
			margin: 0;
			padding: 10px 15px;
			border: none;
			background-color: #b59f5b;
			transition: all .3s;
			cursor: pointer;
			&:hover{
				color: #fff;
				box-shadow: 0 0 4.8px 0.3px $gold;
			}
		}
	}
}
.tag-block{
	margin: 35px 0;
	a{
		border: 3px solid #eeeeee;
		padding: 7px 18px;
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 5px 15px 0;
		display: inline-block;
		&:hover{
			border: 3px solid #b49f60;
		}
	}
}
.last-comments{
	.last-comment{
		margin-top: 20px;
	}
	.autor-name{
		font-family: "Josefin Sans";
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 10px 10px 15px;
	}
	.comment{
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 400;
		margin: 0 10px 15px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}