.center{
	text-align: center;
}
.title{
	font: 700 31px "Raleway Bold","Arial",sans-serif;
	text-transform: uppercase;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

/*-------------------------------------------------------*/
/*---------------------fun_fact--------------------------*/
/*-------------------------------------------------------*/
.fun_fact{
	margin: 100px 0 100px;
	font: 400 18px "Lora","Arial",sans-serif;
	.content{
		&:first-child{
			border-right: 1px solid #e5e5e5;
		}
		&:last-child{
			border-left: 1px solid #e5e5e5;
		}
		.number{
			margin: 30px 0;
			font-size: 65px;
			span{
				color: #1b7be0;
			}
		}
		.sub_title{
			font-family: 'Open Sans Semibold', serif;
			font-size: 18px;
			color: #2f2933;
			margin: 20px 0;
		}
		.description{
			font-size: 14px;
			color: #666666;
		}
	}
}


/*-------------------------------------------------------*/
/*---------------------testimonial-----------------------*/
/*-------------------------------------------------------*/
.testimonial{
	position: relative;
	padding: 90px 0;
	background-image: url(../img/testimonial.jpg);
	background-size: cover;
	background-position: center center;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(13, 59, 107, 0.85);
		z-index: 1;
	}
	.title{
		color: #ffffff;
		z-index: 2;
		position: relative;
		margin: 10px 0;
	}
	.content{
		z-index: 2;
		position: relative;
	}
	.testimonial_text{
		font: 400 14px "Lora","Arial",sans-serif;
		line-height: 30px;
		color: #ebebeb;
		background: #1b7ce0;
		border-radius: 2%;
		position: relative;
		margin: 40px 0 25px;
		padding: 40px 45px;
		&:after{
			top: 100%;
			left: 45px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255,255,255,0);
			border-top-color: #1b7ce0;
			border-width: 15px;
		}
	}
	.testimonial_author{
		display: flex;
		align-items: center;
		font: 400 14px "Raleway","Arial",sans-serif;
		color: #ffffff;
		text-transform: uppercase;
		i.fa-circle{
			font-size: 30px;
		}
		.name{
			margin: auto 17px;
		}
		.min_inf{
			text-transform: none;
			&:before{
				content: "/";
				margin-right: 10px;
			}
		}
	}
}


/*-------------------------------------------------------*/
/*-----------------------сontact-------------------------*/
/*-------------------------------------------------------*/
.contact{
	.top_bg_img{
		background-image: url(../img/Divider.png);
		background-size: cover;
		background-position: center center;
		height: 48px;
	}
	.contact_block{
		padding: 50px 0;
		.title{
			line-height: 31px;
			color: #111;
			margin-bottom: 10px;
		}
		.content{
			margin: 46px 0;
		}
		.content_left{
			form{
				.form-control{
					margin-bottom: 10px;
					border-radius: 0px !important;
					font: 400 14px "Lora","Arial",sans-serif;
					color: #666;
					padding-top: 15px;
					padding-bottom: 15px;
					height: 50px;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						font: 400 14px "Lora","Arial",sans-serif;
						color: #666;
					}
					&::-moz-placeholder { /* Firefox 19+ */
						font: 400 14px "Lora","Arial",sans-serif;
						color: #666;
					}
					&:-ms-input-placeholder { /* IE 10+ */
						font: 400 14px "Lora","Arial",sans-serif;
						color: #666;
					}
					&:-moz-placeholder { /* Firefox 18- */
						font: 400 14px "Lora","Arial",sans-serif;
						color: #666;
					}
					option{
						font: 400 14px "Lora","Arial",sans-serif;
						color: #666;	
					}
				}
				textarea{
					max-height: 210px;
					min-height: 210px;
				}
				button{
					font: 400 16px "Lora","Arial",sans-serif;
					color: #fff;
					width: 100%;
					padding-top: 18px;
					padding-bottom: 18px;
					margin: 10px 0;
				}
			}
		}
		.content_right{
			.google_map#map {
				width: 100%;
				height: 240px;
				margin-bottom: 40px;
			}
			.contact_information{
				.min_title{
					font-family: 'Raleway Sans Semibold', serif;
					font-size: 18px;
					color: #333;
					margin-bottom: 16px;
				}
				.information{
					p{
						font: 400 14px "Lora","Arial",sans-serif;
						line-height: 14px;
						color: #666;
						a{
							font: 400 14px "Lora","Arial",sans-serif;
							color: #666;
						}
					}
				}
			}
		}
	}
}




/*-------------------------------------------------------*/
/*-------------------------media-------------------------*/
/*-------------------------------------------------------*/
@media only screen and (max-width : 991.9px){
	.fun_fact{
		.content{
			border: none !important;
		}
	}
}

/*@media only screen and (max-width : 981px){
	.fun_fact{
		.content{
			.number{
				font-size: 95px;
			}
			.sub_title{
				font-size: 40px;
			}
			.description{
				font-size: 30px;
			}
		}
	}
	.testimonial{
		.title{
			font-size: 65px;
		}
		.testimonial_text{
			font: 400 35px "Lora","Arial",sans-serif;
			line-height: 57px;
		}
		.testimonial_author{
			font: 400 30px "Raleway","Arial",sans-serif;
			i.fa-circle{
				font-size: 55px;
			}
		}
	}
	.contact{
		.contact_block{
			.title{
				line-height: 80px;
				font-size: 55px;
			}
			.content_left{
				form{
					.form-control{
						font: 400 27px "Lora","Arial",sans-serif;
						height: 80px;
						&::-webkit-input-placeholder { 
							font: 400 27px "Lora","Arial",sans-serif;
						}
						&::-moz-placeholder { 
							font: 400 27px "Lora","Arial",sans-serif;
						}
						&:-ms-input-placeholder { 
							font: 400 27px "Lora","Arial",sans-serif;
						}
						&:-moz-placeholder { 
							font: 400 27px "Lora","Arial",sans-serif;
						}
						option{
							font: 400 27px "Lora","Arial",sans-serif;
						}
					}
					button{
						font: 400 35px "Lora","Arial",sans-serif;
					}
				}
			}
			.content_right{
				.contact_information{
					.min_title{
						font-size: 40px;
					}
					.information{
						p{
							font: 400 25px "Lora","Arial",sans-serif;
							line-height: 25px;
							a{
								font: 400 25px "Lora","Arial",sans-serif;
							}
						}
					}
				}
			}
		}
	}
}*/
