.forgot-password-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-sign-up{
    text-align: center;
    button{
        margin: 15px;
    }
    .login, .sign-up{
      &:hover{
        background-color: #87e1c9;
      }
    }
  }
  .forgot-password-page-wrap{
    width: 40%;
    min-width: 300px;
    max-width: 600px;
  }
  form{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .mat-form-field{
        width: 100%;
    }
    .get-password{
        background-color: #1ab188;
        color:#ffffff;
        margin: 15px;
        width: 100%;
        &:hover{
            background-color: #0d785c;
        }
    }
    .my-errors{
        color: red;
    }
    .question{
      text-align: center;
    }
  }
}