<div class="forgot-password-page">
  <div class="forgot-password-page-wrap">
    <div class="login-sign-up">
      <button class="login" mat-raised-button type="button" (click)="login()">LOGIN</button>
      <button class="sign-up" mat-raised-button type="button" (click)="registration()">SIGN UP</button>
    </div>
    <form name="forgot-password">
      <mat-form-field>
        <input
          matInput
          type="email" 
          name="email"
          [(ngModel)]="forgotpasswordGroup.email"
          placeholder="Your email"
          required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          #emailInput="ngModel">
      </mat-form-field>
      <div class="my-errors" [hidden]="!emailInput.errors || !emailInput.touched || (emailInput.errors && !emailInput.errors.required)">
        Email can't be empty
      </div>
      <div class="my-errors" [hidden]="!emailInput.errors || (emailInput.errors && !emailInput.errors.pattern)">
        Wrong format
      </div>

      <div class="validation">
        <div>Please answer the question</div>
        <div class="question">
          {{validation.expression}}
        </div>
        <mat-form-field>
          <input 
            matInput
            [(ngModel)]="forgotpasswordGroup.validateConfirm"
            type="number"
            name="answer"
            required
            placeholder="Your answer"
            #answerInput="ngModel">
        </mat-form-field>
        <div class="my-errors" *ngIf="validError">Wrong!</div>
      </div>

      <router-outlet></router-outlet>

      <button class="get-password" mat-raised-button type="button" (click)="forgotpassword(!emailInput.errors)">Get password</button>

    </form>
  </div>
</div>
